<h2>Merchant Dashboard</h2>

<section>
  <% unless @merchant.nil? %>

  <section>
    <%= link_to "Add a product", new_product_path %>
    <h3>Your Orders:</h3>

    <% if @merchant.orders.length > 0 %>
      <ul>
      <% @merchant.orders.each do |order| %>
        <li>Order ID: <%= link_to order[:id], order_path(order.id), method: :get  %></li>
      <% end %>
      </ul>
    <% end %>

    <h4>Your Products:</h4>

    <% if @merchant.products.length > 0 %>
      <ul>
      <% @merchant.products.each do |product| %>
        <li>Name: <%=link_to product.name, product_path(product.id) %></li>
      <% end %>
      </ul>
    <% end %>

  </section>

  <% end %>
</section>