<h2>Merchant Dashboard</h2>

<section>
  <% unless session[:user_id].nil? %>
  <section>
    <%= link_to "Add a product", new_product_path %>
    <h3>Orders:</h3>
    <ul>
    <% @merchant.orders.each do |order| %>
      <li><%= link_to: "ID: #{order.id}", order_path(order.id), method: :get %></li>
    </ul>
    <h4>Products:</h4>
    <ul>
    <% @merchant.products.each do |order| %>
      <li>Name: <%= product.name %></li>
    </ul>
  </section>
  <% end %>
</section>