<main>
  <h2><%= @merchant.username %>'s Dashboard</h2>

  <section>

    <% @merchant.orders.each do |order| %>
      <h5>
        ID: <%= link_to order.id, order_path(order.id ) %>
      </h5>
      <h6>
        Number of Items: <%= order.order_items.length %>
      </h6>
      <h6>
        Order Status: <%= order.status %>
      </h6>
    <% end %>

  </section>
</main>