// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* INDEX */

.product-listing {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin: 2em;
}

.product-listing h3 {
	margin: 0.5em 0 0.1em;
}

.product-listing img {
	height: 20em;
	width: 25em;
	object-fit: cover;
}

#product-listings-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* SHOW / INDIVIDUAL PAGE */

.product-show {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: "image info" "reviews reviews";
}

.product-image {
	grid-area: image;
	margin: 0 7em 0 2em;
	width: 35em;
}

.product-show-info {
	grid-area: info;
}

.product-show-info ul, .product-reviews ul {
	list-style-type: none;
	padding: 0;
}

.product-reviews {
	grid-area: reviews;
	margin-top: 3em;
	text-align: center;
}

.product-reviews h3, .product-reviews h4 {
	margin: 1.5em 0 1em;
}

.product-reviews h5 {
	color: darkolivegreen;
}

.product-reviews ul {
	border-bottom: 1px solid darkolivegreen;
	padding-bottom: 1em;
}

.product-reviews input, .product-reviews textarea {
	width: 50vw;
}

.product-submit-quantity {
	margin: 2em 0;
}

.product-submit-quantity section {
	display: inline;
}

.product-submit-quantity input {
	margin-right: 0.5em;
}

#order_item_quantity {
	width: 2em;
}