<main>
  <h2>All The Plants</h2>
  <section id="product-listings-container">
    <% @products.each do |product| %>
      <ul class="product-listing">
        <li>
          <%= link_to image_tag(product.photo_url, alt: "photo of #{product.name}"), product_path(product.id) %>
        </li>
        <li>
          <h3><%=link_to product.name, product_path(product.id) %></h3>
        </li>
        <li>
          <strong>Cost: </strong><%= number_to_currency(product.price) %>
        </li>
        <li>
          <strong>Quantity: </strong><%= product.inventory %>
        </li>
      </ul>
    <% end %>
  </section>
</main>


